.RecommendedItem {
  width: 100%;
  padding: 24px 8px 22px 8px;
  background: #2e2e2e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  height: 144px;
  .title {
    color: #ffcc21;
    text-align: center;
    font-family: Inter !important;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 122.727% */
    letter-spacing: 0.11px;
  }
  .line {
    margin-top: 10px;
    width: 56px;
    border-top: 1px solid white;
  }
  .description {
    margin-top: 8px;
    color: #fff;
    text-align: center;
    font-family: Hiragino Kaku Gothic Pro;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px; /* 144.444% */
  }
  @media (min-width: 576px) {
    width: 216px;
  }
}
