.ButtonMain {
  border: none;
  outline: none;
  background: linear-gradient(33deg, #ffcc21 0%, #ff963c 100%);
  min-width: 296px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-family: Hiragino Kaku Gothic Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px; /* 144.444% */
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
  &:hover {
    opacity: 0.8;
  }
}
