.ScrollToTopButton {
  position: fixed;
  z-index: 10;
  right: 20px;
  bottom: 144px;
  outline: none;
  background: white;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  border: none;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
  @media (min-width: 576px) {
    right: 50px;
    bottom: 144px;
  }
  @media (min-width: 992px) {
    right: 60px;
    bottom: 144px;
  }
  @media (min-width: 1200px) {
    right: 96px;
  }
}
