.DiaryItem {
  border: 2px solid #707070;
  background: var(--27-custom-style, #fff);
  padding: 16px 15px 27px 16px;
  height: 231px;
  flex-shrink: 0;
  width: 100%;
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    background: #f1f1f1;
  }

  .title {
    color: #414141;
    font-family: Inter !important;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 122.222% */
    letter-spacing: 0.09px;
  }
  .description {
    margin-top: 8px;
    color: #414141;
    font-family: Hiragino Kaku Gothic Pro;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px; /* 141.667% */
    letter-spacing: 0.06px;
  }
  @media (min-width: 576px) {
    width: 231px;
    height: 231px;
  }
}
