.ListDiary {
  margin-top: 56px;
  margin-bottom: 64px;
  .titleMyDiary {
    color: #414141;
    font-family: Inter !important;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 122.727% */
    letter-spacing: 0.11px;
  }
  .list {
    display: grid;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }
  .btnLoadMore {
    margin: 24px auto 0 auto;
  }
}
