.FunctionItem {
  border: 2px solid #707070;
  background: #2e2e2e;
  padding: 16px 15px 27px 16px;
  border: 24px solid #ffcc21;
  width: 100%;
  height: 288px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  z-index: 1;
  &:hover {
    &.myRecord::before,
    &.myExercise::before,
    &.myDiary::before {
      transform: scale(1.2);
      transition: all 0.3s;
    }
  }
  &.myRecord::before,
  &.myExercise::before,
  &.myDiary::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
  }
  &.myRecord::before {
    background-image: url("../../../img/body-record.png");
  }
  &.myExercise::before {
    background-image: url("../../../img/my-exercise.png");
  }
  &.myDiary::before {
    background-image: url("../../../img/my-diary.png");
  }
  .title {
    color: #ffcc21;
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 120% */
    letter-spacing: 0.125px;
    z-index: 1;
  }
  .subTitle {
    margin-top: 10px;
    background: #ff963c;
    padding: 2px 10px;
    color: #fff;
    text-align: center;
    font-family: Hiragino Kaku Gothic Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px; /* 142.857% */
    z-index: 1;
  }
  @media (min-width: 768px) {
    width: 288px;
    height: 288px;
  }
}
